# Segunda clase (11/02/2018)

In [1]:
x <- 2
y <- 3

x + y
x - y
x * y
x / y

[1] 5

[1] -1

[1] 6

[1] 0.6666667

In [5]:
x = matrix(1:36,nrow = 6,ncol = 6);x
x[6,6]
x[6,] # fila 6
x[,6] # columna 6

# Observar:

i <- matrix(c(1,1,2,2,3,3,4,4,5,5,6,6),6,2,byrow = T);i

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1     7   13   19   25   31
[2,] 2     8   14   20   26   32
[3,] 3     9   15   21   27   33
[4,] 4    10   16   22   28   34
[5,] 5    11   17   23   29   35
[6,] 6    12   18   24   30   36

[1] 36

[1]  6 12 18 24 30 36

[1] 31 32 33 34 35 36

     [,1] [,2]
[1,] 1    1
[2,] 2    2
[3,] 3    3
[4,] 4    4
[5,] 5    5
[6,] 6    6